<h1>Your Favorites</h1>

<table>
<tr>
  <th>Name</th>
  <th>URL</th>
  <th></th>
  <th></th>
  <th></th>
</tr>

<% @favorites.each do |favorite| %>
  <tr>
    <td><%= favorite.name %></td>
    <td><%= favorite.url %></td>
    <td><a href="/favorites/<%= favorite.id %>">show</a></td>
    <td><a href="/favorites/<%= favorite.id %>/edit">edit</a></td>
    <td><a href="/favorites/<%= favorite.id %>/destroy">destroy</a></td>
  </tr>
<% end %>


</table>
