<h1>Favorite #<%= @favorite.id %></h1>

<div>
  Name: <%= @favorite.name %>
</div>

<div>
  Url: <a href="<%= @favorite.url %>"><%= @favorite.url %></a>
</div>

<%= link_to "delete", "/favorites/#{@favorite.id}", :method => :delete  %>
